body {
  background:
    radial-gradient(
      #375e3d,
      #315637,
      #0f2f16,
      #0d2311
    );
}

.container {
  display: grid;
  place-items: center;
  min-height: 70vh;
  margin: 4rem;
}

homer-simpson {
  scale: 1.2;
}
